{% extends 'header.html' %}

{% block body %}

<div>

<h4><strong>{{ post_title }}</strong></h4>

<h6 class="text-primary"> {{ post_date }} | {{ user_name }} </h6>


{% filter markdown %}

####About the organization

The mission of the ACC’s 2-PREVENT TCE is to work together as a multi-disciplinary team to understand why some women have breast cancer recurrence through prediction, prevention, monitoring, detection, and treatment measures

####Location

University of Pennsylvania (U Penn)

####URL
[Main page of the TCE lab][1]

[Founding Story based on Sara Gowing's treatment][2]

[1]: https://www.pennmedicine.org/cancer/cancer-research/translating-research-to-practice/breast-cancer-tce
[2]: https://www.pennmedicine.org/cancer/about/focus-on-cancer/2014/september/sara-gowing-a-partner-in-hope-propels-research-on-breast-cancer-recurrence


{% endfilter %}

</div>

<div>

	<hr>
	<nav>
	  <ul class="pager">
	    <li><a href="/">Back to Main Page</a></li>
	  </ul>
	</nav>


</div>

{% endblock %}